.my-form {
  padding: 20px;  
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 600px;
  
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: white;
}

.upload-con{
  background-color: #E0F4EB;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-top: 10px;
}




  // .form-container {
  
  //   align-items: center;
  //   width: 50vw;
  //   margin-left: 390px;
    
    
  //  height: 77vh;
  // }

//   @media only screen and (max-width:1352.73px ) and (min-width: 670px){
//     .form-container {
//       width: 50vw;
//       margin-left:310px ;
    
//     }
//   }

// .upload-con{
//   background-color: #E0F4EB;
// }
  // .ant-upload
  // {
   
  // }
  // :where(.css-dev-only-do-not-override-1wazalj).ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select >.ant-upload, :where(.css-dev-only-do-not-override-1wazalj).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select >.ant-upload
  // {
  //   height: 50px;
  //   font-size: 12px ;
  // }

// .form-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//  height: 77vh;
// }
// .ant-upload
// {
//   height: 48px !important;
// }
// :where(.css-dev-only-do-not-override-1wazalj).ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select >.ant-upload, :where(.css-dev-only-do-not-override-1wazalj).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select >.ant-upload
// {
//   height: 20px;
//   font-size: 12px !important;
// }





// media-quireies
// media-quireies
// media-quireies




/* Small screens (e.g., smartphones) */
/* Small screens (e.g., smartphones) */


@media (max-width: 576px) {
  .my-form {
    padding: 20px;  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 380px;
    
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: white;
  }
  
  .upload-con{
    background-color: #E0F4EB;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top: 10px;
  }

}

/* Medium screens (e.g., tablets) */
/* Medium screens (e.g., tablets) */


@media (min-width: 577px) and (max-width: 992px) {
  .my-form {
    padding: 20px;  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    // width: 380px;
    
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: white;
  }
  
  .upload-con{
    background-color: #E0F4EB;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top: 10px;
  }

}

/* Large screens (e.g., desktops) */
/* Large screens (e.g., desktops) */


@media (min-width: 993px) and (max-width: 1200px) {

  .my-form {
    padding: 20px;  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: white;
  }
  
  .upload-con{
    background-color: #E0F4EB;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top: 10px;
  }

}

/* Extra-large screens (e.g., large desktops) */
/* Extra-large screens (e.g., large desktops) */


@media (min-width: 1201px) {


  .my-form {
    padding: 20px;  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 800px;
    
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: white;
  }
  
  .upload-con{
    background-color: #E0F4EB;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top: 10px;
  }

}