// .wrap-con {
//     margin-right: 40px;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     padding-left: 20px;
//     padding-right: 20px;
    // display: flex;
    // justify-content: center;
    // align-items: center;   
    // font-family: sans-serif;
    // border-width: 2px;
    // border-style: solid;
// }

.element{
    background: linear-gradient(to left, #000000 47%, #000000 58%); 
    
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.con {
    // display: flex;
    // justify-content: space-between;
    margin: 0px;
}

.con .card {
    border-width: 0px;
    border-style: none;
    background-color:  #E0F4EB;
    // margin-right: 10px;
}

.con .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;  
    transition: 0.7s;
    z-index: 1;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    

}


.con .card:nth-child(1) .icon {
    
    // background: #e07768;
    background-image: url("../../Resources/Images/Landing_components/Read.jpg") ;
    background-size: cover;
    

}
.con .card .icon4 {
    
    // background: #e07768;
    background-image: url("../../Resources/Images/Landing_components/Write.jpg") ;
    background-size: cover;
   
}
.con .card:nth-child(2) .icon {
    // background: #6eadd4;
    background-image: url("../../Resources/Images/Landing_components/Listen.jpg") ;
    background-size: cover;
}

.con .card:nth-child(3) .icon {
    // background: #4aada9;
    background-image: url("../../Resources/Images/Landing_components/Watch.jpg") ;
    background-size: cover;
}




.con .card .face {
    // width: 400px;
    height: 200px;
    transition: 0.5s;
}

.con .card .face.face1 {
    position: relative;
    // display: flex;
    // justify-content: center;
    z-index: 1;
    transform: translateY(100px);

    
}

.con .card:hover .face.face1{
    transform: translateY(0px);
    margin-bottom: 10px;

}

.con .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.con .card:hover .face.face1 .content {
    opacity: 1;
}





.con .card .face.face2 {
    // position: relative;
    background-image: url("../../Resources/Images/Landing_components/Write.jpg") ;
    background-size: cover;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding: 20px;
    // box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
    font-size: 15px;


}
.con .card .face.face3 {
    position: relative;
    background-image: url("../../Resources/Images/Landing_components/Record.jpg") ;
    background-size: cover;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding: 20px;
    // box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
    font-size: 15px;
}

.con .card .face.face4 {
    position: relative;
    background-image: url("../../Resources/Images/Landing_components/Upload.jpg") ;
    background-size: cover;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding: 20px;
    // box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
    font-size: 15px;
}

.con .card:hover .face.face3{
    transform: translateY(0);
}

.con .card:hover .face.face4{
    transform: translateY(0);
}

.con .card:hover .face.face2{
    transform: translateY(0);
}