.publications-bg-con
{
    height:100vh;
    width:100vw;
    background-color:#E0F4EB;
    
    color:rgb(0, 0, 0);
    margin-bottom: 10px;
    text-align: center;
}

.Heading
{
    text-decoration: underline;
    font-family:"Roboto";
    padding-top: 20px;
}

.con-two
{
    height: 50vh;
    width:100%;
}

.image-sri
{
    height: 50vh;
    width:50%;
}