.category-cont{
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(4,1fr);
    
}


.cotegory-img{
    width: 100%;
    box-shadow: 0 2px 4px 0 #111;
}

.category-cont2:hover 
    {
    transform: scale(1.1);
    }
  .category-cont2
    {
    transition: transform 0.5s;
    // width: 21em;
    }

.category-head{
    color: white;
    margin-top: -40px;
}


@media  (max-width:576px) {
    .category-cont{
        display: grid;
        gap: 20px;
        padding: 20px;
        grid-template-columns: repeat(1,1fr);
        
    }
    
    
    .cotegory-img{
        width: 100%;
        box-shadow: 0 2px 4px 0 #111;
    }
    
    .category-cont2:hover 
        {
        transform: scale(1.1);
        }
      .category-cont2
        {
        transition: transform 0.5s;
        // width: 21em;
        }
}
    
@media (min-width: 577px) and (max-width: 992px) {
    .category-cont{
        display: grid;
        gap: 20px;
        padding: 20px;
        grid-template-columns: repeat(2,1fr);
        
    }
    
    
    .cotegory-img{
        width: 100%;
        box-shadow: 0 2px 4px 0 #111;
    }
    
    .category-cont2:hover 
        {
        transform: scale(1.1);
        }
      .category-cont2
        {
        transition: transform 0.5s;
        // width: 21em;
        }

}

@media (min-width: 993px) and (max-width: 1200px) {

    .category-cont{
        display: grid;
        gap: 20px;
        padding: 20px;
        grid-template-columns: repeat(3,1fr);
        
    }
    
    
    .cotegory-img{
        width: 100%;
        box-shadow: 0 2px 4px 0 #111;
    }
    
    .category-cont2:hover 
        {
        transform: scale(1.1);
        }
      .category-cont2
        {
        transition: transform 0.5s;
        // width: 21em;
        }

}

@media (min-width: 1201px) {
    .category-cont{
        display: grid;
        gap: 20px;
        padding: 20px;
        grid-template-columns: repeat(4,1fr);
        
    }
    
    
    .cotegory-img{
        width: 100%;
        box-shadow: 0 2px 4px 0 #111;
    }
    
    .category-cont2:hover 
        {
        transform: scale(1.1);
        }
      .category-cont2
        {
        transition: transform 0.5s;
        // width: 21em;
        }

}