.categorycontainer
{
    width: 100vw;
    display: grid;
    position: relative;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows:230px;
    gap: 10px;
    
.containerimg
    {
        width: 340px;
        height: 200px;
        /* box-shadow:box-shadow: 0 2px 4px 0 #111; */
        box-shadow: 0 2px 4px 0 #111;
        border: none;
        border-radius: 10px;
        
        
    }
    .containerimg:hover 
        {
        transform: scale(1.1);
        }
      .containerimg 
        {
        transition: transform 0.5s;
        width: 21em;
        }
      
}