// .trending-cont{

// }

// .trending-img{
//     width: 100%;
// }


.slick-list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.homecontent
{

 
//     margin-left: 25px;
//   margin-right: 25px;
    /* background-color: blue; */
    position: relative;
    
.trend-img-con{
    width: 200px;
    
}

button.slick-arrow.slick-next
{
background-color: rgb(55, 45, 45);
top: -25px;
right: 25px;
color: rgb(249, 249, 255);
font-size:  0px;

}

button{
width: 60px;
font-size: 5px;
height: 25px;
color: white;
border-radius: 60%;
color: #111;
}
button.slick-arrow.slick-prev
{
top: -28px;
margin-left: 40px;
background-color: rgb(75, 57, 57);
color: #111;
margin-right: 100px;
font-size: 0px;
}


// .trending-head{
//     font-size: 20px;
//     font-weight: 750px;
//     margin-bottom: 30px;
//     margin-top:20px;
// }

.trend-con{
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
}

.img5{
    width: 200px;
    border-radius: 10px;
    height: 300px;
    box-shadow: 0 2px 4px 0 #111;
   
}

.trend-head{
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-weight: 750px;
    padding-top: 10px;
    // flex-wrap: wrap;
}
}

// .trend-img-con:hover 
//     {
//     transform: scale(1.1);
//     }
//   .trend-img-con
//     {
//     transition: transform 0.5s;
//     // width: 21em;
//     }