
.homecontent
{

 
//     margin-left: 25px;
//   margin-right: 25px;
    /* background-color: blue; */
    position: relative;
    
.trend-img-con{
    width: 200px;
    
}

.trending-head{
    font-size: 20px;
    font-weight: 750px;
    margin-bottom: 30px;
    margin-top:20px;
}

.trend-con{
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
}

.img5{
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 #111;
   
}

.trend-head{
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-weight: 750px;
    padding-top: 10px;
    // flex-wrap: wrap;
}
}

.trend-img-con:hover 
    {
    transform: scale(1.1);
    }
  .trend-img-con
    {
    transition: transform 0.5s;
    // width: 21em;
    }