.image-rotator
{
display: flex;
.content
{
    margin: 65px;
justify-content: start;
width: 50vw;
}
.imagescontent
{
   
    margin: 75px;
    width: 50vw;
justify-content: end;
}
.para
{
    margin-top: 20px;
    font-size: 18px;
}
.bookssection
{
  text-align: center;
  background-color: #f8991f;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  line-height: 24px;
  color: #fff;
  width: 174px;
  height: 45px;
}

}