.image-rotator
{
display: flex;

.content
{
margin: 65px;
justify-content: start;
width: 50vw;
}

.imagescontent
{
margin: 75px;
width: 50vw;
justify-content: end;
}

.image-rotator-image-size
{
    width:60%;
    height:45vh;
}
.para
{
    margin-top: 25px;
    font-size: 18px;
}
.bookssection
{
  text-align: center;
  background-color: #f8991f;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  line-height: 24px;
  color: #fff;
  width: 174px;
  height: 45px;
}

}
















//media Quirees
//media Quirees
//media Quirees


//75
//75
@media only screen and  (max-width:2048.36px ) and (min-width: 942.93px) {
 .image-rotator
 { 
    // background-color: #7f7b75;
    height:60vh;
   
    .content
    {
    // background-color: #9d6161;
    height:52vh;
    }

    h1
    {
        font-size: 75px;
    }

    p
    {
        font-size: 25px;
        font-family: italic;
        font-weight: bold;
    }

    .bookssection
    {
        width: 280px;
        height: 70px; 
        margin-left: 10px;
        border-radius: 10px;
        font-size: 30px;
    }

    .imagescontent
    {
        margin: 75px;
        width: 30vw;
        height: 45vh;
        justify-content: end;
        background-color: #ff00aa;
    }

    .image-rotator-image-size

    {
        width:30vw;
        height:45vh;
    }


 }

}

//80
//80
@media only screen and  (max-width:1920px ) and (min-width: 884px) {
    .image-rotator
 { 
    // background-color: #1aff00;
    height:60vh;
   
    .content
    {
    // background-color: #9d6161;
    height:52vh;
    }

    h1
    {
        font-size: 75px;
    }

    p
    {
        font-size: 25px;
        font-family: italic;
        font-weight: bold;
    }

    .bookssection
    {
        width: 250px;
        height: 60px; 
        margin-left: 10px;
        border-radius: 10px;
        font-size: 30px;
    }

    .imagescontent
    {
        margin: 75px;
        width: 30vw;
        height: 45vh;
        justify-content: end;
        background-color: #ff00aa;
    }

    .image-rotator-image-size

    {
        width:30vw;
        height:45vh;
    }


 }
}


//90
//90
@media only screen and  (max-width:1706.67px ) and (min-width: 785.78px){
    .image-rotator
    { 
    //    background-color: #fb08db;
      
       .content
       {
       background-color: #fefefe;
       
       }
   
       h1
       {
           font-size: 60px;
       }
   
       p
       {
           font-size: 20px;
           font-family: italic;
           font-weight: bold;
       }
       .bookssection
       {
           width: 200px;
           height: 50px; 
           margin-left: 10px;
           border-radius: 20px;
           font-size: 22px;
       }
       .imagescontent
       {
           margin: 75px;
           width: 50vw;
           justify-content: end;
           background-color: #f8991f;
       }
   
   
    }
}

//100
//100
@media only screen and (max-width:1536px ) and (min-width: 707.20px){
    .image-rotator
    { 
    //    background-color:#00ccff;
       height:60vh;
      
       .content
       {
    //    background-color: #9d6161;
       height:50vh;
       }
   
       h1
       {
           font-size: 60px;
       }
   
       p
       {
           font-size: 20px;
           font-family: italic;
           font-weight: bold;
       }
   
       .bookssection
       {
           width: 220px;
           height: 50px; 
           margin-left: 10px;
           border-radius: 10px;
           font-size: 25px;
       }
   
       .imagescontent
       {
           margin: 75px;
           width: 30vw;
           height: 45vh;
           justify-content: end;
           background-color: #ff00aa;
       }
   
       .image-rotator-image-size
   
       {
           width:30vw;
           height:45vh;
       }
   
   
    }
}

//110
//110
@media only screen and (max-width:1396.36px ) and (min-width: 642.91px)  {
    .image-rotator
    { 
       background-color: #8d01ff;
      
       .content
       {
       background-color: #fefefe;
       
       }
   
       h1
       {
           font-size: 60px;
       }
   
       p
       {
           font-size: 20px;
           font-family: italic;
           font-weight: bold;
       }
       .bookssection
       {
           width: 200px;
           height: 50px; 
           margin-left: 10px;
           border-radius: 20px;
           font-size: 22px;
       }
       .imagescontent
       {
           margin: 75px;
           width: 50vw;
           justify-content: end;
           background-color: #f8991f;
       }
   
   
    }
}

//125
//125
@media only screen and (max-width:1352.73px ) and (min-width: 670px){
    .image-rotator
    { 
       background-color: #c9ff9e;
      
       .content
       {
       background-color: #fefefe;
       
       }
   
       h1
       {
           font-size: 60px;
       }
   
       p
       {
           font-size: 20px;
           font-family: italic;
           font-weight: bold;
       }
       .bookssection
       {
           width: 200px;
           height: 50px; 
           margin-left: 10px;
           border-radius: 20px;
           font-size: 22px;
       }
       .imagescontent
       {
           margin: 75px;
           width: 50vw;
           justify-content: end;
           background-color: #f8991f;
       }
   
   
    }
}

//150
//150
@media only screen and (max-width:1190.40px ) and (min-width: 591px){
    .image-rotator
    { 
       background-color: #63481f;
      
       .content
       {
       background-color: #fefefe;
       
       }
   
       h1
       {
           font-size: 60px;
       }
   
       p
       {
           font-size: 20px;
           font-family: italic;
           font-weight: bold;
       }
       .bookssection
       {
           width: 200px;
           height: 50px; 
           margin-left: 10px;
           border-radius: 20px;
           font-size: 22px;
       }
       .imagescontent
       {
           margin: 75px;
           width: 50vw;
           justify-content: end;
           background-color: #f8991f;
       }
   
   
    }
}