.itemdesc-con{
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 14%);

}

.item-con2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.icons-cont{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.rating-con{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px  ;
}

.item-image-con{
    // text-align: end;
    display: flex;
    flex-direction: column;
    align-items: end;

}

.item-image{
    margin-bottom: 20px;
    width: 250px;
    height: 400px;
}

.report-btn{
    background-color: #266b69;
    margin-right: 10px;
    padding-bottom:  30px ;
    color: white;
}

.submit-btn{
    background-color: #266b69;
    color: white;
}

.read-btn{
    background-color: #266b69;
    padding-bottom:  30px ;
    color: white;
    // width: 7vw;
}

.buttons-con{
    // margin-top: 20px;
    // margin-right: 5px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-right: 20px;

}

.star-icons{
    margin-left: 20px;
}

.book-excerp{
    margin: 20px;
    box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 14%);
    padding: 25px;
    border-radius: 20px;
}

.comment-sec{
    padding: 20px;
    margin: 20px;
    box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 14%);
    border-radius: 20px;
}


// media Queries
@media (max-width:768px){
    .itemdesc-con{
        margin: 30px;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 14%);
    
    }
    
    .item-con2{
        display: flex;
        flex-direction: column-reverse;
    
    }
    
    .icons-cont{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    
    .rating-con{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px  ;
    }
    
    .item-image-con{
        // text-align: end;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    
    }
    
    .item-image{
        margin-bottom: 20px;
        margin-top: 20px;
        width: 50%;
        height: 100%;
    }
    
    .report-btn{
        background-color: #266b69;
        margin-right: 10px;
        padding-bottom:  30px ;
        color: white;
    }
    
    .submit-btn{
        background-color: #266b69;
        color: white;
    }
    
    .read-btn{
        background-color: #266b69;
        padding-bottom:  30px ;
        color: white;
        // width: 7vw;
    }
    
    .buttons-con{
        // margin-top: 20px;
        // margin-right: 5px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    
    }
    
    .star-icons{
        margin-left: 20px;
    }
    
}


@media(max-width:322px){
    .icons-cont{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:769px) and (max-width:841px){
    .icons-cont{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}