.quill 
{
    /* margin: 35px; */
    height: 62vh;
    position: relative;
 
    width: 80vw;
  
}
.rdw-suggestion-dropdown 
{
    position: relative;
    display: flex;
    
    flex-direction: column;
    border: 1px solid #F1F1F1;
    min-width: 100px;
    max-height: 150px;
    overflow: auto;
    background: rgb(249, 13, 13);
    z-index: 100;
}