#footer {
    background-color: #0e0101;
    // padding: 20px;
    // text-align: start;
  // left: 0;
  // bottom: 0;
//   .ant-typography a {
//     color: #0e0101 !important;
//     /* Apply your custom styles here */
//   }
//   a.ant-typography-link {
//     /* Apply your custom styles here */
//     color: #0e0101 !important;
//   }
.custom-margin-top {
    margin-top: 30px;
  }
  
  a
  {
    color: rgb(246, 241, 241) !important;
  }
  

// .footer-head{
//     // font-size: 24px;
// }
// .footer-container{
//    text-align: center;

// }

// .footer-container1{
//     margin-left: 100px;
//     text-align: center;
// }

// .ft-con{
//     padding-top: 20px;
//     background-color: rgb(48, 46, 46);
//     color: white;
// }a


}  