.header-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 80px;

  a{
    color: black;
  }

  a:hover{
    text-decoration: underline;
  }
}

.header{
  display: flex;
  flex-direction: row;
  padding: 15px 0px 15px 0px;
  box-shadow: 0px 1px 2px rgb(0, 0, 0,0.2);
}

.header-content{
  display: flex;
  flex-direction: row;
  margin-left: 90px;
}

.search-bar{
  display: flex;
  flex-direction: row;
  right: 0;
  position: absolute;
}
.bell-container{
  margin-right: 30px;
  
  .bell-icon{
    font-size: 40px;
  }
}

.shop{
  margin-right: 70px;
  .shop-icon{
    font-size: 40px;
  }
}

.hrt{
  background-color: black;
  border-radius: 10px;
  border-style: solid;
  
}

.red-dot {
  position: absolute;
  // top: 0;
  left: 2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
}