@media only screen and (max-width:767px) {
    .login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: green;
    }

    .login-head{
        color: #f8780e;
        font-size: 42px;
        font-weight: 650px;
        margin-left: 70px;
    }

    .login-form2{
        padding-left: 70px;
        padding-right: 400px;
    }

}

 @media only screen and (min-width: 768px) and (max-width:991px) {
    .login-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // background-color: green;
        }
        .login-head{
            color: #f8780e;
            font-size: 42px;
            font-weight: 650px;
            margin-left: 230px;
        }
    
        .login-form2{
            padding-left: 230px;
            padding-right: 270px;
        }

}

@media only screen and (min-width: 992px) and (max-width:1200px) {
    .login-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // background-color: green;
        }
        .login-head{
            color: #f8780e;
            font-size: 42px;
            font-weight: 650px;
            margin-left: 340px;
        }
    
        .login-form2{
            padding-left: 340px;
            padding-right: 380px;
        }
}

@media only screen and (min-width: 1201px) {

    .login-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // background-color: green;
        }
        .login-head{
            color: #f8780e;
            font-size: 42px;
            font-weight: 650px;
            margin-left: 550px;
        }
    
        .login-form2{
            padding-left: 550px;
            padding-right: 480px;
        }
}