
    // .ant-layout-content
    // {
    //     top: 200px;
    //     left: 603px;
    //     position: absolute;
    //     padding: 30px 72px !important;
    //     background: rgb(22, 55, 121);
    //     justify-content: center;
    //     align-items: center;
    //     align-content: center;
    // }
    .formdiv{
        // display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    left: 529px;
    box-shadow: '0px 0px 10px rgba(0, 0, 0, 0.2)' ;
    }