
    .form-div-con{
        display: flex;
        justify-content: center;
        padding: 20px;
        gap: 20px;
    }
    .register-head{
        font-size: 28px;
        text-align: center;
        margin-top: 20px;
    }

    .register-form{
        padding: 30px;
        border-radius: 20px;
    }

@media (max-width:768px){
    .form-div-con{
        display: flex;
        flex-direction: column;
    }
}